.button {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
  background-color: var(--primary-color);

  &:hover {
    background-color: hsl(var(--primary-color-hue), var(--primary-color-sat), calc(var(--primary-color-lig) - 10%));
  }
 }
