:root {
  --primary-color-hue: 49;
  --primary-color-sat: 97%;
  --primary-color-lig: 53%;
  --primary-color: hsl(var(--primary-color-hue), var(--primary-color-sat), var(--primary-color-lig));
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../img/doodle.png");
  background-repeat: repeat;
  background-size: 500px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

label {
  display: block;
  text-align: center;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #AAA;
  border-radius: 10px;
  font-size: 13px;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
}

select {
  padding: 10px 30px 10px 10px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A@{arrow}%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: #FFFEF8;
  -webkit-box-shadow: 0px 4px 16px 0px #1D1D1D3D;
          box-shadow: 0px 4px 16px 0px #1D1D1D3D;
}

.form__errors {
  display: none;
  font-size: 0.7rem;
  padding: 10px 0px;
  color: red;
}

.form__errors--active {
  display: block;
}

.form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.form__header__logo {
  width: 50px;
  height: 50px;
  background-image: url("../img/icon_nemp.svg");
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.form__header__title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__item__label {
  font-size: 0.8rem;
  white-space: nowrap;
  margin-right: 15px;
}

.form__item .mr {
  margin-right: 10px;
}

.form__item .size-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.form__item .size-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__item .ta-c {
  text-align: center;
}

.button {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
  background-color: var(--primary-color);
}

.button:hover {
  background-color: hsl(var(--primary-color-hue), var(--primary-color-sat), calc(var(--primary-color-lig) - 10%));
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.registration__step--hidden {
  display: none;
}

.registration .comming-soon {
  text-align: center;
  font-style: italic;
  color: grey;
}
/*# sourceMappingURL=main.css.map */