:root {
 --primary-color-hue: 49;
 --primary-color-sat: 97%;
 --primary-color-lig: 53%;
 --primary-color: hsl(var(--primary-color-hue), var(--primary-color-sat), var(--primary-color-lig));
}

* {
 box-sizing: border-box;
}

body {
 display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: center;
 font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
 background-image: url('../img/doodle.png');
 background-repeat: repeat;
 background-size: 300px;
}

label {
 display: block;
 margin-bottom: 5px;
}

input, select {
 width: 100%;
 padding: 10px;
 border: 1px solid #AAA;
 border-radius: 10px;
}

.button {
 padding: 10px;
 border-radius: 10px;
 cursor: pointer;
 text-align: center;
 font-weight: bold;
 font-size: 14pt;
 color: #000;
 background-color: var(--primary-color);
}

.button:hover {
 background-color: hsl(var(--primary-color-hue), var(--primary-color-sat), calc(var(--primary-color-lig) - 10%));
}

.button .large {
 width: 100%;
}

.container {
 display: flex;
 flex-direction: column;
 gap: 10px;
 width: 100%;
 max-width: 500px;
 padding: 20px;
 border-radius: 10px;
 background-color: hsl(var(--primary-color-hue), var(--primary-color-sat), calc(var(--primary-color-lig) + 45%));
}

.title {
 margin-bottom: 20px;
 text-align: center;
 font-size: 18pt;
 font-weight: bold;
}

.shadow {
 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
